body {
  background-color: #f0f0f0;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}

#header {
  width: 60%;
  left: 20%;
  background-color: #f0f0f0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1000px;
}

#header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 80%);
}

.storyHeader {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}

.storyWords {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin: 0 24px 24px 24px;
}

.storyWords h1 {
  text-align: left;
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 42px;
}

.storyWords h2 {
  font-weight: 300;
  margin: 0;
  font-size: 28px;
}

.containText {
  background-color: #f0f0f0;
  padding-top: 12px;
}

.smallText {
  font-size: 16px;
}

.role {
  margin: -30px 0 0 0;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.band {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #202020;
}

.band .images,
.band .text {
  position: relative;
  width: 48%;
}

.images {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.images img {
  width: 48%;
  max-height: 353px;
  max-width: 185px;
}

.images.singleImage img {
  width: 100%;
  max-height: none;
  max-width: none;
}

.mask {
  width: 50%;
  max-height: 250px;
  overflow: hidden;
}

.enlargeable {
  cursor: pointer;
  width: 100%;
}

.statsList {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.statsList img {
  width: 30%;
}

.statsList.four img {
  width: 24%;
  min-width: 140px;
}

.floatingStat {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: center;
  position: relative;
  width: 20%
}

.floatingStat h1 {
  position: relative;
  margin: 10px auto;
  top: 0;
  font-size: 48px;
  width: 100%;
}

.floatingStat p {
  text-align: center;
  position: relative;
  margin: 10px auto;
  top: 0;
  width: 100%;
}

.call.solid {
  top: 10px;
  width: 110px;
}

.call.solid p {
  margin: 18px 0;
  left: 48px;
}

.goArrow {
  left: 12px;
  top: 18px;
}

#darken {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.imageContainer {
  cursor: zoom-in;
  display: block;
  height: 100%;
  margin: 50px auto 0 auto;
  position: relative;
  width: auto;
}

.imageContainer.last {
  height: auto;
  margin: 50px auto 0 auto;
  position: relative;
  width: 90%;
}

.imageContainer.zoomed {
  cursor: zoom-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6) translateY(20%);
}

#footer .containText {
  background-color: #606060;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .images img {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  #header {
    width: 100%;
    height: 100%;
    left: 0;
  }

  #header::after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    background: #202020;
  }

  .storyHeader {
    height: 50vh;
    width: auto;
  }

  .storyWords {
    bottom: auto;
    width: auto;
    padding-top: 24px;
  }

  .storyWords h1 {
    font-size: 28px;
  }

  .storyWords h2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  .images img {
    width: 98%;
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  #header {
    left: 0;
    width: 100vw;
  }

  .containText {
    margin-bottom: 0;
    width: 95%;
    padding: 0 2.4% 10% 2.4%;
  }

  .band {
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 24px;
  }

  .band:nth-child(even) {
    flex-direction: column-reverse;
  }

  h2 {
    margin-top: 5px;
  }

  .mask {
    margin-top: 24px;
    max-height: 350px;
    width: 100%;
  }

  .band .images,
  .band .text {
    margin-top: 24px;
    width: 100%;
  }

  .text {
    margin-top: 40px;
  }

  .statsList {
    margin-top: 24px;
  }

  .statsList.four {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .statsList.four img {
    margin-bottom: 20px;
  }

  .floatingStat h1 {
    font-size: 32px;
  }

  .floatingStat p {
    font-size: 14px;
  }

  .call.solid {
    top: 0;
    margin: 20px auto 20px auto;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    padding-top: 20px;
  }

  .imageContainer {
    height: auto;
    margin: 25px auto 0 auto;
    width: 80%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  #header {
    width: 90%;
    left: 5%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  #header {
    width: 80%;
    left: 10%;
  }
}

@media screen and (min-width: 1250px) {
  #header {
    left: calc((100% - 1000px) / 2);
  }
}
