@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  color: #202020;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #202020;
}

a:hover {
  color: #4a86e8;
}

ul {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  text-decoration: none;
}

.ripple {
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-position: center;
  -webkit-transition: background 0.8s;
  -o-transition: background 0.8s;
  transition: background 0.8s;
}

.ripple:hover {
  background: #fafafa -o-radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
  background: #fafafa radial-gradient(circle, transparent 1%, #fafafa 1%) center/15000%;
}

.ripple:active {
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 100%;
  -webkit-transition: background 0s;
  -o-transition: background 0s;
  transition: background 0s;
}

/*
*
*
/* NAVBAR SECTION */
.mobileNav {
  display: none;
}

#navBar {
  position: fixed;
  top: -96px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 6;
}

.nav {
  -webkit-animation: slideUp 0.3s forwards;
  animation: slideUp 0.3s forwards;
}

.navOn {
  -webkit-animation: slideDown 0.3s forwards;
  animation: slideDown 0.3s forwards;
}

@-webkit-keyframes slideDown {
  0% {
    top: -96px;
  }

  100% {
    top: 0;
  }
}

@keyframes slideDown {
  0% {
    top: -96px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -96px;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -96px;
  }
}

.navbarContent {
  width: 60%;
  position: relative;
  margin: auto;
  max-width: 1000px;
}

#logo {
  position: relative;
  top: 10px;
  width: 60px;
  cursor: pointer;
  z-index: 3;
}

#change {
  position: relative;
  pointer-events: none;
  cursor: pointer;
  -webkit-animation: bounce 2.8s linear infinite;
  animation: bounce 2.8s linear infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0;
  }

  3% {
    bottom: 0;
  }

  6% {
    bottom: 5px;
  }

  8% {
    bottom: 8px;
  }

  10% {
    bottom: 5px;
  }

  13% {
    bottom: 0;
  }

  16% {
    bottom: 4px;
  }

  18% {
    bottom: 6px;
  }

  20% {
    bottom: 4px;
  }

  23% {
    bottom: 0;
  }

  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }

  3% {
    bottom: 0;
  }

  6% {
    bottom: 5px;
  }

  8% {
    bottom: 8px;
  }

  10% {
    bottom: 5px;
  }

  13% {
    bottom: 0;
  }

  16% {
    bottom: 4px;
  }

  18% {
    bottom: 6px;
  }

  20% {
    bottom: 4px;
  }

  23% {
    bottom: 0;
  }

  100% {
    bottom: 0;
  }
}

#innerLinks {
  position: absolute;
  top: 13px;
  left: 30px;
  z-index: 2;
}

#innerLinks a {
  margin-left: 20px;
  color: #b0b0b0;
}

#innerLinks a:hover,
#sideMenuLinks a:hover {
  color: #4a86e8;
}

#outerLinks {
  position: absolute;
  top: 12px;
  right: 0;
}

#outerLinks a {
  display: inline-block;
  margin-left: 20px;
}

.hoverable {
  display: block;
  position: relative;
}

.hoverable img:last-child {
  display: none;
}

.hoverable:hover img:first-child {
  display: none;
}

.hoverable:hover img:last-child {
  display: block;
  position: relative;
}

/*
*
*
/* HEADER SECTION */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: -4px;
  background-color: #202020;
}

.call {
  position: relative;
  margin: auto;
  display: block;
  overflow: hidden;
  height: 50px;
  width: 135px;
  opacity: 0;
  -webkit-animation: appearFade 1.5s forwards;
  animation: appearFade 1.5s forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.call:hover {
  -webkit-box-shadow: 8px 8px 32px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.call p {
  position: relative;
  left: 12px;
  top: -4px;
}

.call.solid {
  top: -60px;
  background-color: #fafafa;
  color: #202020;
  border-top: 1px solid white;
  border-left: 1px solid white;
  width: 173px;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.call.solid:hover {
  -webkit-box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phoneCall {
  top: 20px;
  display: none;
}

.goArrow {
  position: absolute;
  top: 19px;
  right: 12px;
}

span {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  background-color: white;
  pointer-events: none;
  -webkit-animation: effect-animation 3s;
  animation: effect-animation 3s;
}

.round span {
  background-color: rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes effect-animation {
  from {
    -webkit-transform: scale(1);
    opacity: 0.6;
  }

  to {
    -webkit-transform: scale(100);
    opacity: 0;
  }
}

@keyframes effect-animation {
  from {
    -webkit-transform: scale(1);
    opacity: 0.6;
  }

  to {
    -webkit-transform: scale(100);
    opacity: 0;
  }
}

#duomo {
  position: relative;
  display: block;
  margin: auto;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

#overlay {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

#wordsContainer {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: appearFade 1.5s forwards;
  animation: appearFade 1.5s forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#words {
  position: relative;
  display: block;
  margin: auto;
  top: 0;
  height: 70%;
}

/*
*
*
/* SIDE BUTTONS SECTION */
#sideButtons {
  position: fixed;
  right: 80px;
  top: 130px;
  z-index: 2;
  -webkit-animation: sideButtonsFade 1s forwards;
  animation: sideButtonsFade 1s forwards;
}

@-webkit-keyframes sideButtonsFade {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 100%
  }
}

@keyframes sideButtonsFade {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 100%
  }
}

.side {
  position: relative;
  width: 56px;
  height: 56px;
  margin-top: 30px;
  background-color: #fafafa;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sideimg {
  display: block;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.mail {
  left: 0;
  -webkit-animation: slideOut 0.3s ease-in forwards;
  animation: slideOut 0.3s ease-in forwards;
}

.civi {
  left: 0;
  -webkit-animation: slideOut 0.3s ease-in forwards;
  animation: slideOut 0.3s ease-in forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.up {
  left: 0;
  -webkit-animation: slideOut 0.3s ease-in forwards;
  animation: slideOut 0.3s ease-in forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.mailOn {
  left: 137px;
  -webkit-animation: slideIn 0.3s ease-out forwards;
  animation: slideIn 0.3s ease-out forwards;
}

.civiOn {
  left: 137px;
  -webkit-animation: slideIn 0.3s ease-out forwards;
  animation: slideIn 0.3s ease-out forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.upOn {
  left: 137px;
  -webkit-animation: slideIn 0.3s ease-out forwards;
  animation: slideIn 0.3s ease-out forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes slideIn {
  0% {
    left: 137px;
  }

  100% {
    left: 0;
  }
}

@keyframes slideIn {
  0% {
    left: 137px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes slideOut {
  0% {
    left: 0;
  }

  100% {
    left: 137px;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }

  100% {
    left: 137px;
  }
}

#contentContainer {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #e8e8e8;
}

/*
*
*
/* BIOGRAPHY SECTION */
#bio {
  position: absolute;
  top: -80px;
}

.sectionContainer {
  position: relative;
  width: 100%;
  border-bottom: solid 5px white;
}

#faceContainer {
  position: relative;
  margin: auto;
  width: 210px;
  height: 210px;
  background-color: #fafafa;
  border-radius: 50%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#face {
  position: relative;
  display: block;
  margin: auto;
  top: 5px;
}

.containText {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  width: 60%;
  max-width: 1000px;
}

.containText a {
  text-decoration: underline;
}

/*
*
*
/* SKILLS SECTION */
#skills {
  position: relative;
  top: -80px;
}

.contain {
  position: relative;
  margin: auto;
  width: 60%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.contain.containSkills {
  margin-bottom: 50px;
}

.columnContainerL {
  position: relative;
  width: 46%;
}

.columnContainerR {
  position: absolute;
  top: 0;
  right: 0;
  width: 46%;
}

.skillIcon {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}

.skillTitle {
  position: absolute;
  ;
  left: 65px;
  top: -5px;
}

.left {
  position: relative;
  left: 0;
}

.right {
  position: relative;
  left: 20px;
}

.pointsL {
  position: absolute;
  right: -15px;
  top: 0;
}

.pointsR {
  position: absolute;
  right: 0;
}

.point {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4a86e8;
}

.activate {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #95B5EA;
}

.null {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.blink {
  -webkit-animation: blinker 0.5s ease infinite;
  animation: blinker 0.5s ease infinite;
}

@-webkit-keyframes blinker {
  0% {
    background-color: #8cade3;
  }

  30% {
    background-color: #d0d0d0;
  }

  60% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: #8cade3;
  }
}

@keyframes blinker {
  0% {
    background-color: #8cade3;
  }

  30% {
    background-color: #d0d0d0;
  }

  60% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: #8cade3;
  }
}

.hexagon {
  position: relative;
  margin: 20px 0 -30px 0;
  left: -15px;
}

.createContainers {
  position: relative;
  margin-top: 20px;
  height: 25px;
}

.displace {
  position: relative;
  top: 2px;
  left: 2px;
}

.creative {
  position: absolute;
  left: 80px;
  top: -3px;
}

.technicalL {
  position: absolute;
  left: 60px;
  top: -5px;
}

.technicalR {
  position: absolute;
  left: 80px;
  top: -3px;
}

/*
*
*
/* INTERACTIONS SECTION */
#interactions {
  position: relative;
  top: -80px;
}

#radial {
  position: relative;
  margin: auto;
  pointer-events: none;
}

.phoneL {
  position: relative;
  pointer-events: none;
  z-index: 3;
}

.sketchL {
  position: absolute;
  right: -86px;
  top: 5px;
}

.shadowL {
  position: absolute;
  left: 4px;
  top: 1px;
  width: 273px;
  height: 603px;
  border-radius: 35px;
  background-color: #e8e8e8;
  -webkit-box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.2);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#containOne {
  position: absolute;
  left: 8px;
  top: 33px;
  width: 263px;
  height: 542px;
  background-color: #e8e8e8;
  pointer-events: auto;
  z-index: 2;
}

.topBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  color: white;
}

.rec {
  position: absolute;
  left: 168px;
  top: 3.5px;
}

.percent {
  position: absolute;
  font-size: 10px;
  left: 186px;
  top: -3.5px;
}

.bat {
  position: absolute;
  left: 210px;
  top: 6px;
}

.time {
  position: absolute;
  font-size: 10px;
  color: white;
  left: 221px;
  top: 6px;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
}

.back {
  position: relative;
  top: 6px;
  left: 35px;
}

.homie {
  position: relative;
  display: block;
  margin: auto;
  top: -14px;
}

.recents {
  position: relative;
  top: -29px;
  left: 210px;
}

/* RADIAL MENU SECTION */
.square {
  position: relative;
  margin: auto;
  width: 94%;
  top: 140px;
  pointer-events: none;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* CONTAINER SECTION */
.container {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
}

/* FAB SECTION */
#fab {
  position: absolute;
  color: white;
  font-size: 110%;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #6eadea;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  display: none;
  cursor: pointer;
}

#fab:active {
  -webkit-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#plusContain {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#plus {
  position: relative;
  margin: auto;
  top: 19px;
  font-size: 18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rotate {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rotateActive {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* FAB ANIMATION SECTION */
.dotUp {
  -webkit-animation: yAxisUp 0.2s ease-in forwards, colorDrain 0.2s ease-out forwards;
  animation: yAxisUp 0.2s ease-in forwards, colorDrain 0.2s ease-out forwards;
}

.containerUp {
  -webkit-animation: xAxisUp 0.2s ease-out forwards;
  animation: xAxisUp 0.2s ease-out forwards;
}

.dotDown {
  -webkit-animation: yAxisDown 0.2s ease-out forwards, colorAdd 0.2s ease-out forwards;
  animation: yAxisDown 0.2s ease-out forwards, colorAdd 0.2s ease-out forwards;
}

.containerDown {
  -webkit-animation: xAxisDown 0.2s ease-in forwards;
  animation: xAxisDown 0.2s ease-in forwards;
}

.lighten {
  -webkit-animation: lightenPlus 0.2s ease-out forwards;
  animation: lightenPlus 0.2s ease-out forwards;
}

.darken {
  -webkit-animation: darkenPlus 0.2s ease-out forwards;
  animation: darkenPlus 0.2s ease-out forwards;
}

@-webkit-keyframes yAxisUp {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 40%;
  }
}

@keyframes yAxisUp {
  0% {
    bottom: -40%;
  }

  100% {
    bottom: 40%;
  }
}

@-webkit-keyframes xAxisUp {
  0% {
    left: 75%;
  }

  100% {
    left: 42%;
  }
}

@keyframes xAxisUp {
  0% {
    left: 75%;
  }

  100% {
    left: 42%;
  }
}

@-webkit-keyframes yAxisDown {
  0% {
    bottom: 40%;
  }

  100% {
    bottom: -40%;
  }
}

@keyframes yAxisDown {
  0% {
    bottom: 40%;
  }

  100% {
    bottom: -40%;
  }
}

@-webkit-keyframes xAxisDown {
  0% {
    left: 42%;
  }

  100% {
    left: 75%;
  }
}

@keyframes xAxisDown {
  0% {
    left: 42%;
  }

  100% {
    left: 75%;
  }
}

@-webkit-keyframes colorAdd {
  0% {
    background-color: #fafafa;
  }

  20% {
    background-color: #6eadea;
  }

  100% {
    background-color: #6eadea;
  }
}

@keyframes colorAdd {
  0% {
    background-color: #fafafa;
  }

  20% {
    background-color: #6eadea;
  }

  100% {
    background-color: #6eadea;
  }
}

@-webkit-keyframes colorDrain {
  0% {
    background-color: #6eadea;
  }

  80% {
    background-color: #6eadea;
  }

  100% {
    background-color: #fafafa;
  }
}

@keyframes colorDrain {
  0% {
    background-color: #6eadea;
  }

  80% {
    background-color: #6eadea;
  }

  100% {
    background-color: #fafafa;
  }
}

@-webkit-keyframes lightenPlus {
  0% {
    -webkit-filter: invert(65%);
    filter: invert(65%);
  }

  20% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  100% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }
}

@keyframes lightenPlus {
  0% {
    -webkit-filter: invert(65%);
    filter: invert(65%);
  }

  20% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  100% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }
}

@-webkit-keyframes darkenPlus {
  0% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  80% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  100% {
    -webkit-filter: invert(65%);
    filter: invert(65%);
  }
}

@keyframes darkenPlus {
  0% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  80% {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  100% {
    -webkit-filter: invert(65%);
    filter: invert(65%);
  }
}

/* RADIAL BUTTONS SECTION */
.tab {
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  width: 34%;
  height: 34%;
  background-color: #fbfbfb;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  -webkit-box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

.tab a {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#hme {
  top: 0%;
  left: 33%;
}

#prf {
  top: 33%;
  right: 0%;
}

#wrt {
  bottom: 0%;
  left: 32%;
}

#cht {
  top: 33%;
  left: 0%;
}

/* RADIAL BUTTONS ICONS */
#hme img {
  position: relative;
  top: 20px;
  width: 45%;
}

#prf img {
  position: relative;
  top: 20px;
  width: 46%;
}

#wrt img {
  position: relative;
  top: 24px;
  width: 45%;
}

#cht img {
  position: relative;
  top: 28px;
  width: 55%;
}

.iconButton {
  position: relative;
  margin: auto;
  top: 0%;
}

/* RADIAL BUTTONS ONCLICK ANIMATION */
#hme:active,
#cht:active {
  margin-top: 3px;
  margin-left: 3px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

#prf:active {
  margin-top: 3px;
  margin-right: -3px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

#wrt:active {
  margin-bottom: -3px;
  margin-left: 3px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}

/* RADIAL BUTTONS APPEAR ANIMATION SECTION */
.bigOneOn {
  -webkit-animation: appear 0.15s ease forwards, up 0.2s ease forwards, appearFade 0.1s ease forwards;
  animation: appear 0.15s ease forwards, up 0.2s ease forwards, appearFade 0.1s ease forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.bigTwoOn {
  -webkit-animation: appear 0.15s ease forwards, toRight 0.2s ease forwards, appearFade 0.1s ease forwards;
  animation: appear 0.15s ease forwards, toRight 0.2s ease forwards, appearFade 0.1s ease forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.bigThreeOn {
  -webkit-animation: appear 0.15s ease forwards, down 0.2s ease forwards, appearFade 0.1s ease forwards;
  animation: appear 0.15s ease forwards, down 0.2s ease forwards, appearFade 0.1s ease forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.bigFourOn {
  -webkit-animation: appear 0.15s ease forwards, toLeft 0.2s ease forwards, appearFade 0.1s ease forwards;
  animation: appear 0.15s ease forwards, toLeft 0.2s ease forwards, appearFade 0.1s ease forwards;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

@-webkit-keyframes appear {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes appear {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes appearFade {
  100% {
    opacity: 1;
  }
}

@keyframes appearFade {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  0% {
    top: 35%;
  }

  100% {
    top: 0%;
  }
}

@keyframes up {
  0% {
    top: 35%;
  }

  100% {
    top: 0%;
  }
}

@-webkit-keyframes toRight {
  0% {
    right: 35%;
  }

  100% {
    right: 0%;
  }
}

@keyframes toRight {
  0% {
    right: 35%;
  }

  100% {
    right: 0%;
  }
}

@-webkit-keyframes down {
  0% {
    bottom: 35%;
  }

  100% {
    bottom: 0%;
  }
}

@keyframes down {
  0% {
    bottom: 35%;
  }

  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes toLeft {
  0% {
    left: 35%;
  }

  100% {
    left: 0%;
  }
}

@keyframes toLeft {
  0% {
    left: 35%;
  }

  100% {
    left: 0%;
  }
}

/* RADIAL NAV SECTION */
#navigate {
  position: relative;
  margin: auto;
  margin-top: 50px;
  pointer-events: none;
}

#navigate img {
  pointer-events: none;
}

.phoneR {
  position: absolute;
  right: 0;
  z-index: 3;
}

.sketchR {
  position: absolute;
  left: -50px;
  top: 50px;
}

.shadowR {
  position: absolute;
  right: 4px;
  top: 1px;
  width: 273px;
  height: 603px;
  border-radius: 35px;
  background-color: #e8e8e8;
  -webkit-box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.2);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#containTwo {
  position: absolute;
  right: 8px;
  top: 33px;
  width: 263px;
  height: 542px;
  background-color: #e8e8e8;
  overflow: hidden;
  pointer-events: auto;
  z-index: 2;
}

.footer {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #d36363;
  bottom: 30px;
}

#chatWrapper {
  position: relative;
  width: 130px;
  height: 130px;
  top: 180px;
  border-radius: 50%;
}

#chatWrapper>.pageIcon {
  top: 35px;
  left: 3px;
  width: 90px;
}

#homeWrapper {
  position: relative;
  width: 130px;
  height: 130px;
  top: 48px;
  border-radius: 50%;
}

#profileWrapper {
  position: relative;
  width: 130px;
  height: 130px;
  top: -70px;
  border-radius: 50%;
}

.pageIcon {
  position: relative;
  display: block;
  margin: auto;
  width: 75px;
  opacity: 0.5;
  top: 23px;
}

/* ROUND MENU SECTION */
.roundMenu {
  position: relative;
  margin: auto;
  top: -2px;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.tap {
  position: relative;
  margin: auto;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  top: 13px;
  background-color: transparent;
  border: solid 2px rgba(255, 255, 255, 0.6);
}

#top {
  position: relative;
  top: 5px;
}

.highlighter {
  position: relative;
  margin: auto;
  top: -20px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: highlight 1.5s linear infinite;
  animation: highlight 1.5s linear infinite;
}

@-webkit-keyframes highlight {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

@keyframes highlight {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}

/* NAVIGATION BUTTONS SECTION */
#navContainer {
  position: relative;
  margin: auto;
  width: 50px;
}

#grayOne {
  display: block;
  position: relative;
  margin: auto;
  top: 33%;
  left: 1px;
}

#navOne img:last-child {
  display: none;
}

#navOne:hover img:first-child {
  display: none;
}

#navOne:hover img:last-child {
  display: block;
  position: relative;
  margin: auto;
  top: 28%;
}

#grayTwo {
  display: block;
  position: relative;
  margin: auto;
  top: 25%;
  left: -0.5px;
}

#navTwo img:last-child {
  display: none;
}

#navTwo:hover img:first-child {
  display: none;
}

#navTwo:hover img:last-child {
  display: block;
  position: relative;
  margin: auto;
  top: 18%;
}

#grayThree {
  display: block;
  position: relative;
  margin: auto;
  top: 23%;
  left: 0;
}

#navThree img:last-child {
  display: none;
}

#navThree:hover img:first-child {
  display: none;
}

#navThree:hover img:last-child {
  display: block;
  position: relative;
  margin: auto;
  top: 22%;
}

.sml {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.testOne,
.testTwo,
.testThree {
  cursor: pointer;
}

.testOne a,
.testTwo a,
.testThree a {
  position: absolute;
  display: block;
  border: 2px solid #58a7dd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  top: -2px;
  left: -2px;
}

.testOne a:hover {
  background-color: #6eadea;
  border: none;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-animation: whopL 0.2s forwards;
  animation: whopL 0.2s forwards;
}

.testTwo a:hover {
  background-color: #6eadea;
  border: none;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-animation: whopC 0.2s forwards;
  animation: whopC 0.2s forwards;
}

.testThree a:hover {
  background-color: #6eadea;
  border: none;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-animation: whopR 0.2s forwards;
  animation: whopR 0.2s forwards;
}

#chat {
  position: absolute;
  bottom: 10px;
  left: -60px;
}

#home {
  position: absolute;
  bottom: 50px;
}

#profile {
  position: absolute;
  bottom: 10px;
  left: 60px;
}

/* NAVIGATION BUTTONS ANIMATIONS SECTION */
.smlOnOne {
  -webkit-animation: pop 0.1s ease-in forwards, slideOne 0.15s ease-in forwards;
  animation: pop 0.1s ease-in forwards, slideOne 0.15s ease-in forwards;
}

.smlOnTwo {
  -webkit-animation: pop 0.1s ease-in forwards, slideTwo 0.15s ease-in forwards;
  animation: pop 0.1s ease-in forwards, slideTwo 0.15s ease-in forwards;
}

.smlOnThree {
  -webkit-animation: pop 0.1s ease-in forwards, slideThree 0.15s ease-in forwards;
  animation: pop 0.1s ease-in forwards, slideThree 0.15s ease-in forwards;
}

@-webkit-keyframes pop {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes pop {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes slideOne {
  0% {
    bottom: 30px;
    left: 20px;
  }

  100% {
    bottom: 40px;
    left: -35px;
  }
}

@keyframes slideOne {
  0% {
    bottom: 30px;
    left: 20px;
  }

  100% {
    bottom: 40px;
    left: -35px;
  }
}

@-webkit-keyframes slideTwo {
  0% {
    bottom: 40px;
    left: 25px;
  }

  100% {
    bottom: 70px;
    left: 6px;
  }
}

@keyframes slideTwo {
  0% {
    bottom: 40px;
    left: 25px;
  }

  100% {
    bottom: 70px;
    left: 6px;
  }
}

@-webkit-keyframes slideThree {
  0% {
    bottom: 30px;
    left: 25px;
  }

  100% {
    bottom: 35px;
    left: 45px;
  }
}

@keyframes slideThree {
  0% {
    bottom: 30px;
    left: 25px;
  }

  100% {
    bottom: 35px;
    left: 45px;
  }
}

@-webkit-keyframes whopL {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px) translateX(-10px);
    transform: scale(1.5) translateY(-10px) translateX(-10px);
  }
}

@keyframes whopL {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px) translateX(-10px);
    transform: scale(1.5) translateY(-10px) translateX(-10px);
  }
}

@-webkit-keyframes whopC {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px);
    transform: scale(1.5) translateY(-10px);
  }
}

@keyframes whopC {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px);
    transform: scale(1.5) translateY(-10px);
  }
}

@-webkit-keyframes whopR {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px) translateX(10px);
    transform: scale(1.5) translateY(-10px) translateX(10px);
  }
}

@keyframes whopR {
  0% {
    -webkit-transform: scale(1, 1) translateY(0px) translateX(0px);
    transform: scale(1, 1) translateY(0px) translateX(0px);
  }

  100% {
    -webkit-transform: scale(1.5) translateY(-10px) translateX(10px);
    transform: scale(1.5) translateY(-10px) translateX(10px);
  }
}

/* PAGE SLIDE ANIMATIONS SECTION */
.slideInLeft {
  -webkit-animation: slideInLeft 0.5s ease forwards;
  animation: slideInLeft 0.5s ease forwards;
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 0.5s ease forwards;
  animation: slideOutLeft 0.5s ease forwards;
}

.slideInRight {
  -webkit-animation: slideInRight 0.5s ease forwards;
  animation: slideInRight 0.5s ease forwards;
}

.slideOutRight {
  -webkit-animation: slideOutRight 0.5s ease forwards;
  animation: slideOutRight 0.5s ease forwards;
}

@-webkit-keyframes slideInLeft {
  0% {
    left: -130px;
    opacity: 0;
  }

  80% {
    left: 70px;
    opacity: 1;
  }

  100% {
    left: 66.5px;
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    left: -130px;
    opacity: 0;
  }

  80% {
    left: 70px;
    opacity: 1;
  }

  100% {
    left: 66.5px;
    opacity: 1;
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    left: 66.5px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: -130px;
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  0% {
    left: 66.5px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: -130px;
    opacity: 0;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    left: 260px;
    opacity: 0;
  }

  80% {
    left: 50px;
    opacity: 1;
  }

  100% {
    left: 66.5px;
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    left: 260px;
    opacity: 0;
  }

  80% {
    left: 50px;
    opacity: 1;
  }

  100% {
    left: 66.5px;
    opacity: 1;
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    left: 66.5px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: 260px;
    opacity: 0;
  }
}

@keyframes slideOutRight {
  0% {
    left: 66.5px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: 260px;
    opacity: 0;
  }
}

#filler {
  position: relative;
  width: 100%;
  height: 700px;
}

/*
*
*
/* DESIGNS SECTION */
#designs {
  position: relative;
  top: -80px;
}

.centeredImage {
  position: relative;
  display: block;
  margin: auto;
  left: 150px;
}

.videoContainer {
  position: relative;
  margin: auto;
  width: 60%;
}

.containText.videoText {
  width: 100%;
  border-top: 1px solid #202020;
}

.iframeContainer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 5px;
  margin-bottom: 40px;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*
*
*
/* MORE SECTION */
#more {
  position: relative;
  top: -80px;
}

#moreContainer {
  border-bottom: none;
}

#moreText img {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

/*
*
*
/* FOOTER SECTION */
#footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #606060;
  height: 100px;
  width: 100%;
}

.footerText {
  position: relative;
  color: #ffffff;
  top: 40px;
}

.footerText a {
  text-decoration: none;
  color: #ffffff;
}

.footerText a:hover {
  color: #4a86e8;
}

/* FADER SECTION */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 10;
}

.fader {
  -webkit-animation: fade 3s forwards;
  animation: fade 3s forwards;
  pointer-events: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* BOTTOM NAVBAR */
.actions {
  position: absolute;
  top: 0;
  left: 45px;
  width: calc(100% - 45px);
  height: 100%;
}

.actions ul {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.actions li {
  display: inline-block;
  width: 32%;
}

.actions .ripple {
  border-radius: 0;
  width: 32%;
}

/* BURGER MENU */
.round {
  position: relative;
  top: 2px;
  display: block;
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.rotateBurger {
  position: relative;
  top: 20px;
  width: 44px;
  -webkit-animation: rotateTwo 0.3s ease forwards;
  animation: rotateTwo 0.3s ease forwards;
}

.rotateAgain {
  -webkit-animation: rotateAgain 0.3s ease forwards;
  animation: rotateAgain 0.3s ease forwards;
}

.mid {
  position: relative;
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: #202020;
}

.burgerTop {
  position: relative;
  margin: auto;
  height: 2px;
  background-color: #202020;
  -webkit-animation: rotateTopOne 0.3s ease forwards;
  animation: rotateTopOne 0.3s ease forwards;
}

.burgerBot {
  position: relative;
  margin: auto;
  height: 2px;
  background-color: #202020;
  -webkit-animation: rotateBotOne 0.3s ease forwards;
  animation: rotateBotOne 0.3s ease forwards;
}

.arrowTop {
  position: relative;
  margin: auto;
  height: 2px;
  background-color: #202020;
  -webkit-animation: rotateBotTwo 0.3s ease forwards;
  animation: rotateBotTwo 0.3s ease forwards;
}

.arrowBot {
  position: relative;
  margin: auto;
  top: 4px;
  height: 2px;
  background-color: #202020;
  -webkit-animation: rotateTopTwo 0.3s ease forwards;
  animation: rotateTopTwo 0.3s ease forwards;
}

@-webkit-keyframes rotateTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes rotateTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes rotateAgain {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateAgain {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateTopOne {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -6px;
    top: -2px;
    width: 31%;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: -4px;
    width: 50%;
  }
}

@keyframes rotateTopOne {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -6px;
    top: -2px;
    width: 31%;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: -4px;
    width: 50%;
  }
}

@-webkit-keyframes rotateBotOne {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -6px;
    top: 2px;
    width: 31%;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: 4px;
    width: 50%;
  }
}

@keyframes rotateBotOne {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -6px;
    top: 2px;
    width: 31%;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: 4px;
    width: 50%;
  }
}

@-webkit-keyframes rotateTopTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: 4px;
    width: 50%;
  }

  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -6px;
    top: 2px;
    width: 31%;
  }
}

@keyframes rotateTopTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: 4px;
    width: 50%;
  }

  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -6px;
    top: 2px;
    width: 31%;
  }
}

@-webkit-keyframes rotateBotTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: -4px;
    width: 50%;
  }

  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -6px;
    top: -2px;
    width: 31%;
  }
}

@keyframes rotateBotTwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    top: -4px;
    width: 50%;
  }

  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -6px;
    top: -2px;
    width: 31%;
  }
}

/* SIDE MENU */
#sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

#sideMenuLinks {
  position: absolute;
  bottom: 50px;
  padding: 0;
  margin: 0;
}

#sideMenuLinks li {
  width: 100%;
  height: 40px;
  border-top: 1px solid #d0d0d0;
}

#sideMenuLinks a {
  display: block;
  width: 130px;
  height: 30px;
  padding: 10px 0 0 20px;
  color: #b0b0b0;
}

.opened {
  -webkit-animation: openMenu 0.3s ease-out forwards;
  animation: openMenu 0.3s ease-out forwards;
}

.closed {
  -webkit-animation: closeMenu 0.3s ease-in forwards;
  animation: closeMenu 0.3s ease-in forwards;
}

@-webkit-keyframes openMenu {
  0% {
    left: -170px;
  }

  100% {
    left: 0;
  }
}

@keyframes openMenu {
  0% {
    left: -170px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes closeMenu {
  0% {
    left: 0;
  }

  100% {
    left: -170px;
  }
}

@keyframes closeMenu {
  0% {
    left: 0;
  }

  100% {
    left: -170px;
  }
}

/* #dimmer {
  display: none;
} */

#dimmer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: red;
  opacity: 0.5;
  z-index: 4;
}

/* ADAPTIVE RULES */
@media screen and (max-width: 1600px) {

  .contain,
  .containText,
  .navbarContent,
  .videoContainer {
    width: 80%;
  }

  #sideButtons {
    right: 50px;
  }
}

@media screen and (max-width: 1000px) {

  .contain,
  .containText,
  .navbarContent,
  .videoContainer {
    width: 90%;
  }

  #sideButtons {
    display: none;
  }

  #innerLinks a {
    margin-left: 12px;
  }

  .columnContainerR {
    position: relative;
    top: 60px;
    margin-bottom: 100px;
  }

  .columnContainerL,
  .columnContainerR {
    width: 100%;
  }

  .hexagon {
    top: -10px;
  }

  .pointsL {
    right: -10px;
  }

  .pointsR,
  .pointsL {
    top: -3px;
  }

  .pointsR>li>div,
  .pointsL>li>div {
    margin-left: 16px
  }
}

@media screen and (max-width: 760px) {

  .phoneL,
  .phoneR {
    position: relative;
    display: block;
    top: 617px;
    margin: auto;
  }

  #containOne,
  #containTwo {
    top: 650px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .shadowL,
  .shadowR {
    top: 617px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .sketchL,
  .sketchR {
    display: block;
    position: relative;
    top: -600px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .sketchR {
    top: -500px;
    left: 50px;
  }

  #filler {
    height: 200px;
  }

  .call.solid {
    top: 0;
    margin: 30px auto 20px auto;
  }

  .centeredImage {
    width: 120%;
    height: auto;
    left: 40px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 591px) {
  .footerText {
    top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .creative {
    font-size: 14px;
    top: 0;
    left: 60px
  }

  .technicalL,
  .technicalR,
  .creative {
    font-size: 14px;
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
    top: 2px;
  }

  .pointsL {
    right: -8px;
  }

  .hexagon {
    left: -8px;
  }

  .pointsR>li>div,
  .pointsL>li>div {
    margin-left: 12px
  }

  .phoneL,
  .phoneR {
    top: 420px;
  }

  #containOne,
  #containTwo {
    top: 453px;
  }

  .shadowL,
  .shadowR {
    top: 420px;
  }

  .sketchL,
  .sketchR {
    width: 320px;
  }

  .sketchR {
    left: 20px;
    top: -550px;
  }
}

@media (max-width: 750px) {
  #navBar {
    display: none;
  }

  .mobileNav {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    z-index: 6;
    background-color: #fafafa;
    border-top: 1px solid white;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  #logo {
    margin: auto;
    top: 20px;
  }

  .bigCall {
    display: none;
  }

  .phoneCall {
    display: block;
  }

  #footer {
    bottom: 30px;
  }
}

@media (max-width: 411px) {

  .contain,
  .containText,
  .navbarContent,
  .videoContainer {
    width: 95%;
  }

  #words {
    height: auto;
    width: 105%;
  }

  .pointsR>li>div,
  .pointsL>li>div {
    margin-left: 5px
  }

  #footer {
    bottom: 35px;
  }
}